// 修改样式变量
$vxe-font-size: 14px;
$vxe-font-color: #666;
$vxe-primary-color: #409eff;
$vxe-table-font-color: $vxe-font-color;
$vxe-table-border-color: #e8eaec;
$vxe-table-border-radius: 4px;


$vxe-table-row-current-background-color: #dff0d8 ;
$vxe-table-header-background-color: #F5F6FA;
$vxe-table-header-font-color: #606266;
$vxe-table-row-height-default: 30px;


// ...
